:root {
    /* 设置变量 */
    --norlrccolor: rgb(209, 209, 209);
    --sellrccolor: rgb(23, 236, 148);
    --norlineheight: 28px;
    --sellineheight: 40px;
    --norfontsize: 16px;
    --selfontsize: 24px;
    --lrc-client-height: 0px;
    --lrc-client-width: 0px;
    --playing-progress: 0%;
}

.lrc-line-show {
    line-height: var(--norlineheight);
    color: var(--norlrccolor);
    font-size: var(--norfontsize);
    /* line-height: var(--norlineheight); */
    overflow: hidden;
    width: 100%;
    pointer-events: none;
    display: inline-block;
}

.lrc-line-sel-show {
    line-height: var(--sellineheight);
    color: var(--sellrccolor);
    display: inline-block;
    font-size: var(--selfontsize);
    pointer-events: none;
    width: 100%;
    overflow: hidden;
    width: 100%;
    /* line-height: var(--norlineheight); */
}

#pane-last-music {
    position: absolute;
    left: 24px;
    bottom: 24px;
    width: 32px;
    height: 32px;
    padding: 0;
    /* pointer-events: none; */
    color: white;
    text-align: center;
}

#pane-pause-music {
    position: absolute;
    left: 72px;
    bottom: 16px;
    width: 48px;
    height: 48px;
    padding: 0;
}

#pane-next-music {
    position: absolute;
    left: 136px;
    bottom: 24px;
    width: 32px;
    height: 32px;
    padding: 0;
    /* border: none; */
    color: white;
    text-align: center;
}

.small-music-control {
    right: 16px;
    bottom: 16px;
    padding: 4px 4px 4px 4px;
    width: auto;
    height: 88px;
    background: none;
    z-index: 98;
    position: fixed;
}

#mute-volume {
    position: absolute;
    width: 32px;
    height: 32px;
    bottom: 24px;
    padding: 0;
    right: 172px;
}


#playing-lrc-area {
    /* position: absolute; */
    /* width:100%; */
    /* top:0; */
    left: 0;
    text-align: center;
    height: calc(100% - 84px);
}

.musicpane-control {
    z-index: 151;
    box-sizing: content-box;
    background-color: var(--main-bg-color);
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    position: absolute;
    width: 100%;
    /* width: 100%; */
    bottom: 0;
    left: 0;
    text-align: center;
    height: 78px;
    /* border-radius: 8px; */

    /* border-bottom: 1px solid white; */
    /* background-color: rgba(255, 255, 255, 0.5); */
}

.player-progress-displayer {
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 100%;
    display: inline-block;
    background: linear-gradient(#ffffff, #e7e7e7) no-repeat, #333;
    background-size: var(--playing-progress) 100%;

}

.musicpane-control.playing-display {
    border: none;
    /* width: 100%; */

}

#play-progress {
    /* width: calc(100% - 520px); */
    width: calc(100% - 440px);
    position: absolute;
    left: 184px;
    top: 44px;
    background-size: var(--playing-progress) 100%;
}

#player-time-current {
    position: absolute;
    top: 26px;
    width: 40px;
    display: inline-block;
    text-align: center;
    color: #dfdfdf;
    font-size: 14px;
    right: 304px;
}

#player-time-xie {
    position: absolute;
    top: 26px;
    font-size: 14px;
    right: 294px;
    width: 12px;
    color: #dfdfdf;
    display: inline-block;
    text-align: center;
}

#player-time-total {
    position: absolute;
    font-size: 14px;
    color: #dfdfdf;
    width: 40px;
    display: inline-block;
    text-align: center;
    top: 26px;
    right: 256px;
}

#volume-set {
    width: 84px;
    position: absolute;
    right: 76px;
    display: inline-block;
    top: 28px;
}

#music-detail-btn {
    right: 24px;
    position: absolute;
    width: 32px;
    height: 32px;
    bottom: 24px;
    padding: 0;
}

#music-playlist-btn {
    right: 212px;
    position: absolute;
    width: 32px;
    height: 32px;
    bottom: 24px;
    padding: 0;
}

#pane-change-lrc {
    position: absolute;
    width: 32px;
    height: 32px;
    bottom: 56px;
    padding: 0;
    right: 112px;
}

input[type=range] {
    margin-top: 8px;
    /*上部分的填充值*/
    outline: none;
    -webkit-appearance: none;
    /*清除系统默认样式*/
    appearance: none;
    width: 100%;
    background: linear-gradient(#ffffff, #e7e7e7) no-repeat, rgba(182, 182, 182, 0.5);
    /*背景颜色，俩个颜色分别对应上下*/
    background-size: 0% 100%;
    /*设置左右宽度比例*/
    height: 4px;
    border-radius: 0px;
}

.pane-music-name {
    position: absolute;
    display: inline-block;
    width: calc(100% - 540px);
    top: 20px;
    left: 192px;
    text-align: left;
    bottom: unset;
}

#pane-music-info-singer {
    font-size: 14px;
    color: #a3a3a3;
    overflow: hidden;
    word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* max-width: calc(400px); */
    max-width: calc(50% - 8px);
    display: inline-block;
    vertical-align: middle;
    margin-left: 4px;
}

#pane-music-info-singer:before {
    content: ' - ';
}

.page-info-singer-href {
    font-size: 12px;
    /* cursor: pointer; */
    /* font-weight: bold; */
    user-select: text;
    -moz-user-select: text;
    -webkit-user-select: text;
}

#pane-music-info-name {
    word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* max-width: calc(60% - 392px); */
    max-width: calc(50% - 16px);
    overflow: hidden;
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    color: white;
    font-weight: bold;
}

.player-range {
    display: inline-block;
    position: relative;
    top: -4px;
    vertical-align: middle;
}

/*拖动块的样式*/
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    /*清除系统默认样式*/
    height: 16px;
    /*拖动块高度*/
    width: 16px;
    /*拖动块宽度*/
    background: #ffffff;
    /*拖动块背景*/
    border-radius: 50%;
    /*外观设置为圆形*/
    border: solid 1px #ffffff;
    /*设置边框*/
}

/* 
input[type=range]::-webkit-slider-thumb:hover {
    background: #cfcfcf;
    border: solid 1px #b4b4b4;
}

input[type=range]::-webkit-slider-thumb:active {
    background: #a3a3a3;
    border: solid 1px #aaaaaa;
} */
#xc-next-music {
    position: absolute;
    right: 60px;
    bottom: 4px;
}

#xc-last-music {
    position: absolute;
    right: 172px;
    bottom: 4px;
}

#xc-pause-music {
    position: absolute;
    right: 116px;
    bottom: 4px;
}

#xc-show-player-pane {
    position: absolute;
    right: 4px;
    bottom: 4px;
}

#music-lrc-info-text-name {
    font-weight: bold;
    /* cursor: pointer; */
    font-size: 22px;
    display: inline-block;
    width: calc(100% - 8px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}


#music-lrc-info-text-singer {
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
    display: inline-block;
    /* width:100%; */
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
    max-width: calc(100% - 80px);
    text-overflow: ellipsis;
}

#music-lrc-info-text-album {
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
    display: inline-block;
    /* width:100%; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    max-width: calc(100% - 48px);
}

#music-lrc-info-tv {
    display: none;
}

#playing-lrc-area .lrc-left-part {
    width: calc(40% - 4px);
    /* background-color: rgba(30, 30, 30, 0.5); */
    /* max-width: 600px; */
    position: absolute;
    top: 0;
    left: 4px;
    height: 100%;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;

}

#lrc-show-root {
    letter-spacing: -0.5em;
    transition: 200ms;
    line-height: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    box-sizing: border-box;
    height: 100%;
    padding-top: calc(var(--lrc-client-height) / 2);
    padding-bottom: calc(var(--lrc-client-height) / 2);
    overflow: auto;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

#lrc-show-root .lrc {
    transition: 200ms;
    letter-spacing: 0;
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 100%;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
    overflow: hidden;
    height: var(--norlineheight);
    line-height: var(--norlineheight);
    font-size: var(--norfontsize);
    color: var(--norlrccolor);

}

.lrc-text {
    cursor: pointer;
}

#lrc-show-root .lrc-active {
    /* transition: 250ms; */
    line-height: var(--sellineheight);
    font-size: var(--selfontsize);
    color: var(--sellrccolor);
    word-break: normal;
    white-space: normal;
    overflow: hidden;
    height: auto;
}

.music-player-info-root {
    height: auto;
    width: 100%;
    max-height: calc(100%);
}

#music-lrc-info-pic {
    /* width:80%; */
    width: 240px;
    height: 240px;
    border-radius: 16px;
}

#playing-lrc-area .lrc-right-part {
    width: calc(60% - 4px);
    height: 100%;
    /* max-width: 600px; */
    position: absolute;
    top: 0;
    left: 40%;
}

.music-lrc-info-text-root {
    width: 100%;
    height: 160px;
    margin-top: 8px;
}

.music-lrc-info-control {
    margin-top: 8px;
}

.music-info-control-button {
    padding: 0;
    width: 40px;
    height: 40px;
}

#show-playing-other-control {
    position: absolute;
    left: 8px;
    top: 4px;
    height: 38px;
    width: 38px;
    font-weight: normal;
    font-size: 18px;
    line-height: 38px;
    text-align: center;
    padding: 0;
    display: none;
}

#win-playing {
    background-position: center;
    background-size: cover;
    background-image: url(../img/default_cd.png);
}

#win-playing-host {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    backdrop-filter: blur(16px) brightness(0.3);
    -webkit-backdrop-filter: blur(16px) brightness(0.3);

}

#win-playing .page-head-music-player {
    z-index: 7;
}

#win-playing:fullscreen .page-head-musicinfo {
    display: none;
}

#win-playing:fullscreen .music-lrc-info-control {
    display: none;
}

#win-playing:fullscreen #playing-lrc-area {
    /* padding-bottom: ; */
    height: calc(100% - 104px);
}

#win-playing:fullscreen .music-lrc-info-text-root {
    margin-top: 32px;
}

#win-playing .player-progress-displayer {
    display: none;
    bottom: 0;
    top: unset;
    height: 4px;
}

#win-playing:fullscreen .player-progress-displayer {
    display: inline-block;
}

#win-playing-host.color {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    backdrop-filter: unset;
    -webkit-backdrop-filter: unset;
}

@media only screen and (min-width: 1200px) {
    #music-lrc-info-pic {
        /* width:80%; */
        width: 320px;
        height: 320px;
    }
}

@media only screen and (min-width: 1600px) {
    .lrc-left-part {
        /* width: calc(40% - 4px); */
        width: 560px;

    }

    .lrc-right-part {
        width: calc(100% - 568px);
        top: 0;
        left: 560px;
    }

    #music-lrc-info-pic {
        /* width:80%; */
        width: 400px;
        height: 400px;

    }
}

#music-lrc-info-text-singer-root {
    display: inline-block;
}

#music-lrc-info-text-album-root {
    display: inline-block;
}

#music-lrc-info-text-name-root {
    display: inline-block;
}

@media only screen and (max-height:584px) {
    #close-playing-page2 {
        display: none;
    }

    #show-playing-other-control {
        display: inline-block;
    }

    #playing-lrc-area .lrc-left-part {
        /* width: calc(40% - 4px); */
        /* width: 560px;
         */
        -webkit-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);
        width: calc(100% - 16px);
        top: 0;
        left: 12px;
        z-index: 1;
        display: inline-block;
        opacity: 0;
        transition: 100ms;
        pointer-events: none;
    }

    #playing-lrc-area .lrc-left-part.active {
        /* display: inline-block; */
        pointer-events: auto;
        opacity: 1;
    }

    #playing-lrc-area .lrc-right-part {
        opacity: 1;
    }

    #playing-lrc-area .lrc-right-part.active {
        opacity: 0;
    }

    #playing-lrc-area .lrc-right-part {
        width: calc(100% - 16px);
        top: 0;
        left: 12px;
    }

    .music-lrc-info-text-root {
        min-width: 188px;
        max-width: calc(100% - 260px);
        width: auto;
        height: 128px;
        overflow: auto;
        margin-top: 0px;
        vertical-align: middle;
        display: inline-block;
    }

    .lrc-left-part {
        overflow: auto;
    }

    #music-lrc-info-pic {
        vertical-align: middle;
    }
}

@media only screen and (max-height:448px) {
    #music-lrc-info-pic {
        height: 180px;
        width: 180px;
    }
}

@media only screen and (max-height:392px) {
    #music-lrc-info-pic {
        height: 120px;
        width: 120px;
    }

    #music-lrc-info-text-name {
        font-size: 16px;
    }
}

/* 右边栏模式 */
.righten-mode #close-playing-page2 {
    display: none;
}

.righten-mode #show-playing-other-control {
    display: inline-block;
}
.righten-mode #playing-lrc-area .lrc-left-part {
    /* width: calc(40% - 4px); */
    /* width: 560px;
     */
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    width: calc(100% - 16px);
    top: 0;
    left: 12px;
    z-index: 1;
    display: inline-block;
    opacity: 0;
    transition: 100ms;
    pointer-events: none;
}

.righten-mode #playing-lrc-area .lrc-left-part.active {
    /* display: inline-block; */
    pointer-events: auto;
    opacity: 1;
}

.righten-mode #playing-lrc-area .lrc-right-part {
    opacity: 1;
}

.righten-mode #playing-lrc-area .lrc-right-part.active {
    opacity: 0;
}

.righten-mode #playing-lrc-area .lrc-right-part {
    width: calc(100% - 16px);
    top: 0;
    left: 12px;
}
.righten-mode #win-playlist{
    /* display: none; */
    left: 0px;
    width: calc(100% - 8px);
}

/* 给移动设备做适配 */
@media only screen and (max-width: 948px) {

    #close-playing-page2,
    #righten-mode-playing-page {
        display: none;
    }

    #show-playing-other-control {
        display: inline-block;
    }

    #win-playing {
        height: calc(100% - 128px);
    }

    .musicpane-control {
        height: 48px;
        bottom: 52px;
    }

    #music-detail-btn {
        bottom: 8px;
        left: 8px;
        right: unset;
    }

    .pane-music-name {
        display: inline-block;
        width: calc(100% - 128px);
        position: absolute;
        left: 48px;
        bottom: 8px;
        height: 32px;
        line-height: 32px;
        top: unset;
    }

    #pane-pause-music {
        width: 32px;
        height: 32px;
        bottom: 8px;
        right: 48px;
        left: unset;
    }

    #music-playlist-btn {
        bottom: 8px;
        right: 8px;
    }

    #player-time-current {
        display: none;
    }

    #player-time-total {
        display: none;
    }

    #play-progress {
        display: none;
    }

    #mute-volume {
        display: none;
    }

    #pane-next-music {
        display: none;
    }

    #pane-last-music {
        display: none;
    }

    .playing-display #music-playlist-btn {
        bottom: 32px;
        left: 48px;
    }

    .playing-display #music-detail-btn {
        display: none;
    }

    .playing-display #player-time-current {
        display: inline-block;
    }

    .playing-display #player-time-total {
        display: inline-block;
    }

    .playing-display #play-progress {
        display: inline-block;
    }

    .playing-display #mute-volume {
        display: inline-block;
    }

    .playing-display #pane-next-music {
        display: inline-block;
    }

    .playing-display #pane-last-music {
        display: inline-block;
    }

    .playing-display #show-other-control {
        display: inline-block;
    }

    #win-playing-host:fullscreen .page-head-music-player {
        display: none;
    }

    #win-playing-host:fullscreen .page-content {
        top: 4px;
        left: 4px;
        text-align: center;
        height: calc(100% - 8px);
    }

    .musicpane-control.playing-display {
        height: 120px;
        bottom: 0;
    }

    /* .musicpane-control.playing-display  */


    #playing-lrc-area {
        top: 60px;
    }

    #playing-lrc-area .lrc-left-part {
        /* width: calc(40% - 4px); */
        /* width: 560px;
         */
        -webkit-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);
        width: calc(100% - 16px);
        top: 0;
        left: 12px;
        z-index: 1;
        display: inline-block;
        opacity: 0;
        transition: 100ms;
        pointer-events: none;
    }

    #playing-lrc-area .lrc-left-part.active {
        /* display: inline-block; */
        pointer-events: auto;
        opacity: 1;
    }

    #playing-lrc-area .lrc-right-part {
        opacity: 1;
    }

    #playing-lrc-area .lrc-right-part.active {
        opacity: 0;
    }

    #playing-lrc-area .lrc-right-part {
        width: calc(100% - 16px);
        top: 0;
        left: 12px;
    }

    #pane-last-music {

        left: calc(50% - 80px);
        bottom: 32px;
    }

    .playing-display #pane-pause-music {
        position: absolute;
        /* left: 72px; */
        left: calc(50% - 24px);
        width: 48px;
        height: 48px;
        bottom: 24px;
        right: unset;
    }

    #mute-volume {
        right: 48px;
        bottom: 32px;
    }

    #play-progress {
        left: 48px;
        top: 16px;
        width: calc(100% - 104px);
    }

    #player-time-current {
        left: 4px;
        top: 16px;
    }

    #player-time-xie {
        /* right:94px; */
        /* top:56px; */
        display: none;
    }

    #player-time-total {
        right: 4px;
        top: 16px;
    }

    .playing-display .pane-music-name {
        display: none;
    }

    #repeat-mode {
        left: 48px;
        bottom: 32px;
    }

    #volume-set {
        display: none;
    }

    #pane-next-music {
        position: absolute;
        /* left: 128px; */
        left: calc(50% + 48px);
        bottom: 32px;
    }
}

.lrc-romaji {
    position: absolute;
    left: 50%;
    /* top: 1px; */
    transform: translateY(calc(0px - var(--norfontsize) / 2)) translateX(-50%);
    font-size: 10px;
    /* height: 20px; */
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    line-height: 20px;
    word-break: break-all;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: calc(100% - 8px);
    pointer-events: none;
}

.lrc-active .lrc-romaji {
    transform: translateY(calc(0px - var(--sellineheight) / 2)) translateX(-50%);
    word-break: break-word;
    white-space: normal;
    line-height: var(--sellineheight);
}